* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3 {
  margin: 0;
}

.nav-link{
  background-color: #1F2937;
  color: white;
}

.intro-section {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 40px 50px 100px 50px;
  gap: 30px;
}

.intro-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 500px;
}

.intro-img{
  height: 300px;
}

.intro-title {
  font-size: 48px;
  font-weight: 900;
}

.intro-text {
  font-size: 18px;
  line-height: 25px;
  color: #E5E7EB;
}

.intro-btn {
  width: 120px;
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 7px;
}

.recipes-section {
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937
}

.recipes-demo {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 50px;
}

.recipe-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 150px;
}

.recipe-img {
  width: 150px;
  height: 150px;
  border: 5px solid #3882F6;
  border-radius: 10px;
}

.recipe-details {
  text-align: center;
  font-size: 18px;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
  max-width: 800px;
}